# Clang-Format Style Options for 3.7+
---
# We'll use defaults from the Google style, but with 4 columns indentation.
BasedOnStyle: Google
IndentWidth: 4
---
Language: Cpp
AccessModifierOffset: -2
AllowShortBlocksOnASingleLine: false
AlignConsecutiveAssignments: true
SpaceAfterCStyleCast: true
KeepEmptyLinesAtTheStartOfBlocks: true
SpacesBeforeTrailingComments: 1
SortIncludes: true
NamespaceIndentation: Inner 
Standard: Cpp11
