# Clang-Format Style Options for 3.6+
---
# We'll use defaults from the Google style, but with 4 columns indentation.
BasedOnStyle: Google
IndentWidth: 4
---
Language: Cpp
AccessModifierOffset: -2
AllowShortBlocksOnASingleLine: false
KeepEmptyLinesAtTheStartOfBlocks: true
SpacesBeforeTrailingComments: 1
NamespaceIndentation: All
Standard: Cpp11
AllowShortFunctionsOnASingleLine: Empty
SpaceAfterCStyleCast: true
