language: cpp

os:
  - linux

compiler:
  - gcc

branches:
  only:
    - develop
    - master

before_install:
  # update to gcc with c++11 support
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  # backport of opencv 2.4.8 to Ubuntu 12.04
  - sudo add-apt-repository -y ppa:yjwong/opencv2
  # backport of boost 1.55 to Ubuntu 12.04
  - sudo add-apt-repository -y ppa:boost-latest/ppa
  # backport of qt5 to Ubuntu 12.04
  - sudo add-apt-repository -y ppa:ubuntu-sdk-team/ppa
  - sudo apt-get update -qq

install:
  # install latest CMake 3.2.3
  - wget --no-check-certificate https://cmake.org/files/v3.5/cmake-3.5.0-Linux-x86_64.tar.gz
    && tar -xzf cmake-3.5.0-Linux-x86_64.tar.gz
    && sudo cp -fR cmake-3.5.0-Linux-x86_64/* /usr
  - sudo apt-get install -qq gcc-4.9 g++-4.9
  - sudo apt-get install -qq libboost1.55-all-dev libopencv-dev libvtk5-dev
    qt5-qmake qtbase5-dev qtdeclarative5-dev libqt5webkit5-dev libbsd-dev
  - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-4.9 90
  - sudo update-alternatives --install /usr/bin/gcov gcov /usr/bin/gcov-4.9 90
  # install latest LCOV
  - wget --no-check-certificate http://ftp.de.debian.org/debian/pool/main/l/lcov/lcov_1.11.orig.tar.gz
  - tar -xf lcov_1.11.orig.tar.gz
  - sudo make -C lcov-1.11/ install
  - gem install coveralls-lcov

before_script:
  - mkdir build
  - cd build
  - export QMAKE=/usr/lib/x86_64-linux-gnu/qt5/bin/qmake
  - cmake -DCMAKE_BUILD_TYPE=Debug -DUSE_CODE_COVERAGE=ON ..

script:
  - make
  - make tests
  - make restore-coverage

after_success:
  - coveralls-lcov --repo-token MItIhmcZO4ebzPTUdTYlEbJXSK43eCGxM coverage.info.cleaned
